*{
    margin: 0;
    padding: 0;
    
}
body{
    display: grid;
    height: 100vh;  /* will apply the color to the entire part of the page */
    font-family: 'Raleway', sans-serif;
    background-color: #EFE7DD;
    
}


.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Left-border Central-page Central-page"
      "Left-border Central-page Central-page"
      "Left-border Central-page Central-page";
      
  }
  

#logo{
width : 150px;
height : 150px;
    position:relative;
}
  
  .Central-page { grid-area: Central-page;
background-color: #D8A790;
color: #9B4922;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 120px;
padding-right: 50px;
padding-top: 180px;

}
#logo{
width : 150px;
height : 150px;
position:absolute;
}

.Central-page #mwa{
height: 350px;
width: 230px;
z-index: 1;
margin: -280px;
box-shadow:8px 8px 10px 0 #9B4922;
border: 2px double black;
border-radius: 10px;
}

.Central-page #leaf{
  width: 300px;
  position: absolute;
 bottom:0;
 right: 0;
 
  }



p{
    font-size: 18px;
}

#tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }


}
.Central-page #button{
    border-radius: 300px;
    width: 100px;
    margin-left: 200px;
    background-color: #9B4922;
    color: #D8A790;
    font-size: 20px;
    
  }
  a:link {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  .Left-border { grid-area: Left-border;
    background-color: #9B4922;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin-right: 20px;
        
    }
  
 #social{
width: 30px;
height:30px;
padding-left: 20px;
}


#contact {
   color: #D8A790;
        
}